body {
    /* aplica el fondo a todas las páginas que se encuentren referenciadas*/
    position: relative;
    background-image: url(../img/fondoI.png);
    margin: 20px;
    font-family: cursive;

}

.estiloImg {
    width: 200px;
    height: 150px;
}

.estImgLog {
    /*display: block;
    position: absolute;*/
    margin: 5px;
    padding: 0;
    width: 200px;
    height: 60px;
    /*text-align: left;*/

}

.tex {
    margin: 3px;
    font-size: 15px;
    text-align: justify;
    font-family: cursive;
    color: #3E8042;
}

#cabecera {
    text-align: center;
    color: orange;
}

#cabecera h1 {
    font-size: 50px;
    color: black;

}

#cabecera h2 {
    font-size: 30px;
}

#cabecera ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;

}

#cabecera li {
    float: left;
    display: block;
    padding: 10px 15px;
    text-align: center;
    color: beige;
    background-color: darkgray;
}

#cabecera img {
    width: 250px;
    height: 200px;

}

#cuerpo {
    float: left;
    margin-left: 20px;
    padding: 10px;
    width: 67%;
    color: purple;
    font-size: 20px;
    text-align: justify;
}

#cuerpo table {
    text-align: center;
    background-color: lightgreen;
}


#info {
    float: right;
    margin: 20px;
    padding: 10px auto;
    width: 27%;
}

#pie {
    clear: both;
}

.estia {
    padding: 5px 50px 5px 50px;
    margin: 0;
    font-size: small;
    text-align: center;
    position: relative;
    height: 100px;
}

.estImgLog1 {
    margin: 10px;
    width: 200px;
    height: 70px;
    text-align: center;

}
#conEst {
    color: purple;
    font-size: small;
}
#grafica {
    display: block;
    background-color: beige;
    margin: 2px;
    padding: 0;
}