
<html>

<head>
    <title>Sir William Osler</title>
    <meta charset="UTF-8" content="Sistema de votaciones en línea, vote por su candidato de preferencia">
</head>

<body style="margin: 5%; background-color: beige;">
    <font color="#024A86" size="5"><img src="img/Corazón.png" align="middle" width="7%">MOVIMIENTO SANADOR</font>
     <center>
     
        <font align="center" face="Comic Sans MS" color="#024A86" size="10">Sir William Osler
        </font><br>
    
    </center>

    <center>
        
        <h2>Movimiento Sanador</h2>
        <img src="img/candidato5.png" style="margin: auto; padding: auto;">
    </center>

    <p align="justify" style="margin: auto; padding: auto;">
        
        <font face="Verdana" size="4"> C
        on mi experiencia en la medicina se crearán planes medicionales y de eduación sexual
        que abarque todas las clases sociales, con el fin de disminuir la sobre-población y el avance de enfermades mortales;
        de igual forma se implementarán tecnologías de vanguardia en hospitales a los cuales tendrán acceso cualquier habitante.<br>
        Cada individuo que desee atención médica estará acompañada de un grupo de médicos especialistas, psicologos entre otros. 
        Que seguirá su proceso hasta que el usuario quiera lo contrario, pues, de esta forma deseamos disminuir la tasa de muertes
        y/o suicidios en el país. 
   
        </font>
    </p>
    
    <div>
        <div style="margin: auto;"> 
            <center>
                <img src="img/Corazón.png" width="50%" height="50%" style="margin: auto; padding-top: 10px;">
            </center>
            <p> 
                <font face="Verdana" size="4">
                    Nuestro planes médicos incluyen:
                </font>
            </p>
            <ul style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">
                
                <li style="list-style: number;"><font face="Verdana" size="4">
                    Asesoramiento en educación sexual y metodo de planiifiacion con el cuál se espera reducir la sobrepoblación.</font>
                </li>
                
                <li style="list-style: number;"><font face="Verdana" size="4">
                    Lineas de atención psicologica con el fin de reducir la taza de suicidios en el país.
                   </font>
                </li>
                
                <li style="list-style: number;"><font face="Verdana" size="4">
                    Brigadas medicinales continuas en regiones rurales del país, para que las personas de escasos recursos tengan acceso 
                    a los beneficios mencionados.                  
                </li>
                             
            </ul>
        </div>
    </div>
    <div style="margin: auto;">
        <center>
        <a href="Index.html" 
            style="background-color: red; 
            font-size: large; 
            text-align: center;
            color: white;
            padding:10px;
            border-radius: 5px;
            text-decoration: none;">Regresar</a>
            <a href="candidato2.html" 
            style="background-color: red; 
            font-size: large; 
            text-align: center;
            color: white;
            padding:10px;
            border-radius: 5px;
            text-decoration: none;">Siguiente</a>
        </center>
    </div>
</body>

</html>