<html>

<head>
    <title>votApp v.10</title>
    <meta charset="utf-8" content="Sistema de votaciones en línea, vote por su candidato de preferencia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5.2.1-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/estiloCandidato2.css">
</head>

<body id="conten">

    <div id="header" class="container tex-center">
        <div class="row">
            <div id="logoHeader" class="col-1">
                <img src="img/VOTA.jpg">
            </div>
            <div id="textoHeader" class="col-11">
                <p>Movimiento Amor</p>
            </div>
        </div>
    </div>

  <div id="encabezado">
    <h1>    <span>Movimiento Amor &#160;</span></h1>
    <h2>Microsoft works en el mundo de la tecnologia</h2>
    <img src="img/candidato2.png" width="50%" height="50%" style="margin: auto; padding-top: 20px;">
</div>
<div id="cuerpo">

 <p >
        Movimiento amor es una organización política constituida libremente por estudiantes del UNAB
		con voluntad política para construir el banco de la alegría donde solo se obtienen risas, <br>  nuestro lema es 
		¡No nos pregunte que tenemos, díganos que necesita! <br> 
		Como pollita queremos ver sus problemas para ir al Baldor y revisar las ultimas paginas donde están las soluciones.<br>
	Para lo difícil denos 2 horas, para lo imposible 2 días.

 
    </p>
</div>
<div id="redireccion">
    <a href="Index.html" class="btn btn-danger">Regresar</a>
    <a href="Candidato3.html" class="btn btn-danger">Siguiente</a>
</div>    
</body>
</html>